* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background-color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

.header {
    background-color: #333333;
    height: 45px;
}

.top-bar {
    max-width: 1170px;
    margin: 0 auto;
}

.currency {
    float: left;
}

.currency a {
    display: inline-block;
    color: #777777;
    line-height: 45px;
}

.top-bar-menu {
    float: right;
}

.top-bar-menu li {
    float: left;
}

.top-bar-menu li a {
    display: inline-block;
    line-height: 45px;
    color: #858585;
    padding: 0px 18px;
}

#cart {
    margin-left: 64px;
    background: #00c8c8 url("images/main/cart.png") no-repeat 22px center;
    color: white;
    width: 147px;
    padding-left: 52px;
    text-align: center;
}

.logo {
    float: left;
    margin-top: 30px;
    color: #222222;
}

.logo a {
    font-size: 25px;
    margin-left: 10px;
    letter-spacing: 1px;
    color: #222222;
}
.logo a span {
    font-weight: 600;
}

.nav-menu {
   float: right;
   margin-top: 43px;
}

.nav-menu ul li {
   float: left;
   margin: 0px 50px 0px 0px;
}

.dropbtn {
    color: #222222;
}

.dropbtn img {
    display: block;
    margin: 8px 0px 0px 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 467px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-2 {
    width: 236px !important;

}

.dropdown-content-2 a:last-child {
    margin-bottom: 30px !important;
}

.dropdown-content a {
    display: block;
    margin-top: 12px;
    color: #727272;
    font-size: 14px;
}

.dropdown-content a:last-child {
    margin-bottom: 56px;
}

.dropdown-content-rigth {
    right: 0px;
}

.dropdown-content p {
    margin: 13px 0px 29px 0px;
}

.dropdown-content a:hover {
    color: #00c8c8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #00c8c8;
}

.dropdown-col {
    float: left;
    padding-left: 30px;
}

.dropdown-content .dropdown-col:nth-child(2) {
    padding-left: 86px;
}

.dropdown-banner {
    height: 200px;
    clear: both;
    text-align: center;
    background-color: #333333;
    color: white;
    margin: 30px;
}

.dropdown-banner p {
    font-size: 38px;
    padding-top: 54px;
    letter-spacing: 1px;
}

.form {
    margin-top: -7px;
}

.form-search {
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-image: url("images/main/search.png");
    border: 1px solid #e7e7e7;
    padding-right: 25px;
    line-height: 26px;
}

.intro {
    min-height: 450px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    background: linear-gradient(rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url("images/main/city.jpg");
    margin: 39px 0px 1px 0px;
    position: relative;
    text-align: center;
}

.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
}

.slogan h1 {
    font-size: 46px;
    letter-spacing: 3.5px;
    font-weight: 100;
}

.slogan h1 span {
    font-weight: 900;
}

.slogan p {
    font-size: 32px;
    letter-spacing: 1px;
}

.slogan p span {
    color: #00c8c8;
}

.product-content {
    min-height: 710px;
    margin: 63px 0px 38px 0px;
}

.slideshow-container {
    position: relative;
    margin-right: 15px;
}

.slides {
    display: none;
}

.slides img {
    width: 100%;
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -28px;
    padding: 5px 14px;
    color: #575153;
    font-size: 33px;
    transition: 0.6s ease;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: #00c8c8;
    color: white;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

.details {
    margin-left: 15px;
}

.product-title {
    color: #575153;
    font-size: 18px;
    margin: 0px 0px 17px 0px;
}

.product-review {
     position: relative;
}

.product-review li {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #8e8e8e;
}

.product-review li:first-child {
    font-size: 21px;
    letter-spacing: -4px;
}

.product-review li:last-child {
    padding-left: 14px; 
}

.product-review li:last-child div {
    display: inline-block;
    position: absolute;
    margin-left: 9px;
}

.product-review li:last-child div a {
    display: inline-block;
    margin-right: 14px;
}

.product-review-link {
    display: inline-block;
    border-right: 1px solid #8e8e8e;
    padding: 0px 18px 0px 10px;
    color: #8e8e8e;
}

.product-review li span {
    color: #f2c314;
}

.product-review li span:last-child {
    color: #ded3aa;
}

.product-review li a:hover {
    color: #00c8c8;
}

.product-price {
    color: #9a9a9a;
    font-size: 31px;
    word-spacing: 12px;
    margin: 15px 0px 36px 0px;
}

.product-price sup {
    font-size: 20px;
}

.product-info li {
    color: #9a9a9a;
    letter-spacing: 0.4px;
    padding-bottom: 13px;
}

.product-info li span {
    color: #575153;
}

.product-tags a {
    color: #00c8c8 !important;
}

.product-text {
    color: #9a9a9a;
    margin-top: 17px;
    font-size: 13px;
    letter-spacing: 0.3px;
}

.product-text p {
    line-height: 21px;
}

.product-text ul {
    list-style-type: disc;
    padding-left: 15px;
}

.product-text ul li {
    padding-bottom: 7px;
}

.buy-product {
    margin-top: 35px;
}

.buy-product ul li {
    display: inline-block;
    padding-right: 27px;
}

.buy-product ul li label {
    letter-spacing: 0.5px;
    color: #575153;
    margin-bottom: 11px;
    display: inline-block;
}

select[name=color], select[name=size] {
    width: 170px;
    height: 36px;
    padding-left: 6px;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
}

select[name=quantity] {
    width: 70px;
    height: 36px;
    padding-left: 12px;
    margin-bottom: 10px;
}

.add-to-cart {
    background-color: #00c8c8;
    color: white;
    border: none;
    width: 241px;
    height: 59px;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: 900;
    padding-bottom: 2px;
    margin: 49px 23px 0px 0px;
}

.add-to-cart img {
    display: inline-block;
    margin-right: 8px;
}

.add-to-cart:hover {
    background-color: #333333;
}

.add-to-lookbook {
    color: #737373;
    background-color: white;
    border: 2px solid #737373;
    width: 303px;
    height: 59px;
    font-size: 15px;
    letter-spacing: 4.1px;
    font-weight: 900;
    text-align: justify;
    margin-top: 15px;
}

.add-to-lookbook img {
    display: inline-block;
    margin: 0px 14px 0px 22px;
}

.add-to-lookbook:hover {
    background-color: #737373;
    color: white;
}

.add-to-compare {
    background-color: white;
    color: #454647;
    border: none;
    margin-top: 15px;
    width: 254px;
    height: 59px;
    font-size: 15px;
    letter-spacing: 2.6px;
    font-weight: 900;
    position: relative;
    padding-left: 13px;
}

.two-arrow {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #727272;
    background-image: url("images/product/two-arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    margin-right: 13px;
    position: absolute;
    left: 0px;
    top: 15px;
}

.add-to-compare-name {
    position: absolute;
    top: 50%;
    left: 20.6%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #454647;
}

.add-to-compare-name a {
    color: #454647;
    letter-spacing: 3px;
    font-size: 14px;
}

.tab {
    overflow: hidden;
    background-color: #f8f8f8;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 26px;
    transition: 0.3s;
    font-size: 15px;
    color: #575153;
    letter-spacing: 1.5px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #333333;
    color: white;
}

.tabcontent {
    display: none;
    padding: 10px 15px 108px 15px;
}

.tabcontent p {
    color: #969494;
    letter-spacing: -0.2px;
    font-size: 14px;
    line-height: 22px;
}

.tabcontent h3 {
    color: #727272;
    font-size: 13px;
}

.footer {
    background-color: #f8f8f8;
    padding: 47px 0px 61px 0px;
}

.footer-wrap {
    float: right;
    position: relative;
    left: -50%;
}

.footer-list {
    width: 238px;
    float: left;
    position: relative;
    left: 50%;
}

.footer-list ul li {
    margin-top: 12px;
    color: #727272;
}

.footer-list p {
    color: #575153;
    letter-spacing: 0.4px;
    margin-bottom: 27px;
}

.footer-list ul li a {
    color: #727272;
}

.footer-list ul li a:hover {
    color: #00c8c8;
}

.banners {
    padding-bottom: 56px;
    background-color: #f8f8f8;
}

.banner-left {
    background-color: #333333;
    color: white;
    height: 200px;
    margin-right: 15px;
}

.banner-left h1 {
    text-align: center;
    font-size: 38px;
    font-weight: 300;
    margin: 0px;
}

.banner-left h1:nth-child(1) {
    padding-top: 52px;
    font-weight: 900;
}

.banner-right {
    background-color: #00c8c8;
    height: 200px;
    margin-left: 15px;
}

.banner-right ul {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.banner-right ul li {
    display: inline-block;
    margin-right: 58px;
}

.banner-right ul li:last-of-type {
    margin-right: 0px;
}

.copyright {
    background-color: #333333;
    min-height: 45px;
    color: #999999;
    letter-spacing: 0.2px;
}

.copyright-wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.copyright-text {
    float: left;
    line-height: 43px;
}

.copyright-text span:nth-of-type(2){
    font-size: 8px;
}

.site-dev {
    float: right;
    line-height: 43px;
}

.site-dev span:nth-of-type(1) {
    padding-right: 33px;
}


@media screen and (max-width: 1170px) {
    .product-review li:last-child {
        display: block;
        padding-left: 0px; 
    }
}

@media screen and (max-width: 870px) {
    .dropbtn img {
        display: none;
    }

    .nav-menu {
        float: none;
        text-align: center;
    }

    .logo {
        float: none;
    }

    .nav-menu ul li {
        float: none;
        margin: 0px;
        display: block;
        padding: 8px;
    }

    .dropdown-content, .dropdown-content-2 {
        display: none;
        position: unset;
        width: 100% !important;
        margin: 0px auto;
    }

    .dropdown-content .dropdown-col:nth-child(2) {
        padding-left: 0px;
    }

    .dropdown-col {
        float: none;
        padding-left: 0px;
    }

    .dropdown-banner {
        display: none;
    }

    .dropdown-content p {
        margin: 10px 0px 0px 0px;
    }

    .dropdown-content a:last-child, .dropdown-content-2 a:last-child {
        margin-bottom: 0px !important;
    }

    .banner-left, .banner-right {
        margin: 0px;
    }

    .site-dev {
        display: none;
    }

    .tablinks {
        width: 50%;
    }
}

@media screen and (max-width: 490px) {
    #cart {
        margin-left: 0px;
    }
    .top-bar-menu li a {
        padding: 0px 10px;
    }
    .footer-list {
        float: none;
    }
    .tablinks {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    header {
        height: 90px;
    }

    .banner-right ul li {
        margin-right: 40px;
    }

    .banner-left h1:nth-child(1) {
        padding-top: 0px;
    }

    .add-to-lookbook {
        width: 241px;
        letter-spacing: 1.1px;
    }

    .product-review li {
        display: block;
    }

    .product-review-link {
        border-right: none;
        padding: 0px 0px 6px 0px;
    }
}