* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background-color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

.header {
    background-color: #333333;
    height: 45px;
}

.top-bar {
    max-width: 1170px;
    margin: 0 auto;
}

.currency {
    float: left;
}

.currency a {
    display: inline-block;
    color: #777777;
    line-height: 45px;
}

.top-bar-menu {
    float: right;
}

.top-bar-menu li {
    float: left;
}

.top-bar-menu li a {
    display: inline-block;
    line-height: 45px;
    color: #858585;
    padding: 0px 18px;
}

#cart {
    margin-left: 64px;
    background: #00c8c8 url("images/main/cart.png") no-repeat 22px center;
    color: white;
    width: 147px;
    padding-left: 52px;
    text-align: center;
}

.logo {
    float: left;
    margin-top: 30px;
    color: #222222;
}

.logo a {
    font-size: 25px;
    margin-left: 10px;
    letter-spacing: 1px;
    color: #222222;
}

.logo a span {
    font-weight: 600;
}

.nav-menu {
   float: right;
   margin-top: 43px;
}

.nav-menu ul li {
   float: left;
   margin: 0px 50px 0px 0px;
}

.dropbtn {
    color: #222222;
}

.dropbtn img {
    display: block;
    margin: 8px 0px 0px 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 467px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-2 {
    width: 236px !important;

}

.dropdown-content-2 a:last-child {
    margin-bottom: 30px !important;
}

.dropdown-content a {
    display: block;
    margin-top: 12px;
    color: #727272;
    font-size: 14px;
}

.dropdown-content a:last-child {
    margin-bottom: 56px;
}

.dropdown-content p {
    margin: 13px 0px 29px 0px;
}

.dropdown-content a:hover {
    color: #00c8c8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #00c8c8;
}

.dropdown-col {
    float: left;
    padding-left: 30px;
}

.dropdown-content .dropdown-col:nth-child(2) {
    padding-left: 86px;
}

.dropdown-content-rigth {
    right: 0px;
}

.dropdown-banner {
    height: 200px;
    clear: both;
    text-align: center;
    background-color: #333333;
    color: white;
    margin: 30px;
}

.dropdown-banner p {
    font-size: 38px;
    padding-top: 54px;
    letter-spacing: 1px;
}

.form {
    margin-top: -7px;
}

.form-search {
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-image: url("images/main/search.png");
    border: 1px solid #e7e7e7;
    padding-right: 25px;
    line-height: 26px;
}

.intro {
    min-height: 450px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    background: linear-gradient(rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url("images/main/city.jpg");
    margin: 38px 0px 39px 0px;
    position: relative;
    text-align: center;
}

.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.slogan h1 {
    font-size: 46px;
    letter-spacing: 3px;
    font-weight: 100;
}

.slogan h1 span {
    font-weight: 900;
}

.slogan p {
    font-size: 32px;
    letter-spacing: 0.7px;
}

.stores {
    padding-bottom: 62px;
}

.stores .col-4 {
    padding: 0px 15px;
}

.store-city {
    color: #575153;
    font-size: 18px;
    padding-bottom: 4px;
    letter-spacing: 0.3px;
}

.store-address {
    color: #727272;
    letter-spacing: 0.3px;
}

.store-description {
    color: #8e8c8c;
    font-size: 14px;
    line-height: 22px;
    margin-top: 12px;
    padding-bottom: 12px;
    letter-spacing: -0.1px;
}

.stores a {
    color: #737373;
    padding: 17px 30px;
    font-size: 16px;
    letter-spacing: 3.5px;
    border: 2px solid #737373;
    display: inline-block;
}

.stores a:hover {
    color: white;
    background-color: #00c8c8;
    border: 2px solid #00c8c8;
}

.map {
    min-height: 530px;
    background-color: #f8f8f8;
    margin-bottom: 124px;
}

.map-img {
    overflow: hidden;
    position: relative;
}

.map-img img:nth-child(1) {
    display: block;
    max-height: 530px;
}

#pimp {
    position: absolute;
    top: 275px;
    left: 565px;
}

#pimp:hover {
    cursor: pointer;
}

.map-content {
    padding: 0px 15px 0px 41px;
}

.map-city {
    color: #575153;
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 20px;
    letter-spacing: 0.3px;
}

.map-address {
    color: #727272;
    letter-spacing: 0.3px;
}

.map-description {
    color: #8e8c8c;
    font-size: 14px;
    line-height: 22px;
    margin-top: 12px;
    padding-bottom: 6px;
    letter-spacing: -0.1px;
}

.map-store {
    font-size: 14px;
    color: #8e8c8c;
    padding: 0px;
}

.map-store li {
    padding-bottom: 14px;
}

.map-store li img {
    padding-right: 11px;
    position: relative;
    top: 3px;
}

.map-store li a {
    color: #8e8c8c;
}

.map-store li a:hover {
    color: #00c8c8;
}

.map-icons {
    padding: 0px;
    margin: 28px 0px 20px 0px;
}

.map-icons li {
    display: inline-block;
    padding-right: 11px;
}

.map-icons li a {
    width: 30px;
    height: 30px;
    background-color: #727272;
    display: inline-block;
    border-radius: 50%;
}

.map-icons li a:hover {
    background-color: #00c8c8;
}

.map-icons li a img {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    background-color: #f8f8f8;
    padding: 47px 0px 61px 0px;
}

.footer-wrap {
    float: right;
    position: relative;
    left: -50%;
}

.footer-list {
    width: 238px;
    float: left;
    position: relative;
    left: 50%;
}

.footer-list ul li {
    margin-top: 12px;
    color: #727272;
}

.footer-list p {
    color: #575153;
    letter-spacing: 0.4px;
    margin-bottom: 27px;
}

.footer-list ul li a {
    color: #727272;
}

.footer-list ul li a:hover {
    color: #00c8c8;
}

.banners {
    padding-bottom: 56px;
    background-color: #f8f8f8;
}

.banner-left {
    background-color: #333333;
    color: white;
    height: 200px;
    margin-right: 15px;
}

.banner-left h1 {
    text-align: center;
    font-size: 38px;
    font-weight: 300;
    margin: 0px;
}

.banner-left h1:nth-child(1) {
    padding-top: 52px;
    font-weight: 900;
}

.banner-right {
    background-color: #00c8c8;
    height: 200px;
    margin-left: 15px;
}

.banner-right ul {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.banner-right ul li {
    display: inline-block;
    margin-right: 58px;
}

.banner-right ul li:last-of-type {
    margin-right: 0px;
}

.copyright {
    background-color: #333333;
    min-height: 45px;
    color: #999999;
    letter-spacing: 0.2px;
}

.copyright-wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.copyright-text {
    float: left;
    line-height: 43px;
}

.copyright-text span:nth-of-type(2){
    font-size: 8px;
}

.site-dev {
    float: right;
    line-height: 43px;
}

.site-dev span:nth-of-type(1) {
    padding-right: 33px;
}

@media screen and (max-width: 870px) {
    .dropbtn img {
        display: none;
    }

    .nav-menu {
        float: none;
        text-align: center;
    }

    .logo {
        float: none;
    }

    .nav-menu ul li {
        float: none;
        margin: 0px;
        display: block;
        padding: 8px;
    }

    .dropdown-content, .dropdown-content-2 {
        display: none;
        position: unset;
        width: 100% !important;
        margin: 0px auto;
    }

    .dropdown-content .dropdown-col:nth-child(2) {
        padding-left: 0px;
    }

    .dropdown-col {
        float: none;
        padding-left: 0px;
    }

    .dropdown-banner {
        display: none;
    }

    .dropdown-content p {
        margin: 10px 0px 0px 0px;
    }

    .dropdown-content a:last-child, .dropdown-content-2 a:last-child {
        margin-bottom: 0px !important;
    }

    .banner-left, .banner-right {
        margin: 0px;
    }

    .site-dev {
        display: none;
    }
}

@media screen and (max-width: 490px) {
    #cart {
        margin-left: 0px;
    }

    .top-bar-menu li a {
        padding: 0px 10px;
    }

    .footer-list {
        float: none;
    }

    .content-title {
        padding-top: 0px;
    }
}

@media screen and (max-width: 400px) {
    header {
        height: 90px;
    }

    .banner-right ul li {
        margin-right: 40px;
    }

    .banner-left h1:nth-child(1) {
        padding-top: 0px;
    }
}